
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.center {
	padding-top:15px;
	padding-left:10px;
	color:#ffffff;
	font-size:20px;
}

.main-content {
  overflow:hidden;
}
.main-content-blur{
  /*filter:blur(2px);*/
}

.fa{
	cursor: pointer;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
	margin:auto;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
#login-container{
  background-color:#394d68;
}

.invis-border {
	padding-top:20px;
	padding-bottom:20px;
}
.cache-selector:hover{
	cursor:pointer;
}
.left-panel {
	height:93%;
	overflow-y: auto;
}
.left-panel li{
  background-color:#394d68;
  border-left:0 none;
  border-bottom:0 none;
  border-right: 0 none;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
.display-none{
  display: none;
}
::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #000000; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}

.right-panel{
	height:97%;
}
.list-group-item:hover {
	cursor:pointer;
	background-color:#495c77;
}

.list-group-item-password:hover{
	cursor:pointer;
  color: white;
	background-color:#394d68;
}

.search-field{
	border: none;
	background: transparent;
  padding-top:12px;
  padding-bottom:5px;
  width:100%;
  color:#ffffff;
  padding-left:10px;
  font-size:19px;
}
.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  right: 25%;
  width:220px;
  background-color: #e1e6ed;
  border-radius:10px;
  padding: .5em;
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-padding{
	padding: 0 !important;
	margin: 0 !important;
}
.selected{
	background:#2d7ae5;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}

.center-right{
	padding-top:14px;
	color:#ffffff;
	font-size:20px;
}

.glyphicon:hover{
	cursor:pointer;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	 -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.passwordModalContent{
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  overflow-y:hidden;
  width: 400px; /* Could be more or less, depending on screen size */
  height: 200px;
}

.inner-modal {
	  display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
	-webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.modal-content-error{
	background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	  overflow-y:hidden;
    width: 40%; /* Could be more or less, depending on screen size */
	height: 50%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	  overflow-y:hidden;
    width: 80%; /* Could be more or less, depending on screen size */
	height: 90%;
}

.login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.4); /* Black w/ opacity */
	 -webkit-animation: fadein 0.2s;
    animation: fadein 0.2s;
}

.login-modal-content {
  background-color: #fefefe;
  margin: 25% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  overflow-y:hidden;
  width: 175px; /* Could be more or less, depending on screen size */
  height: 125px;
}

.modal-content-inner {
	background-color: #fefefe;
	margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 55%; /* Could be more or less, depending on screen size */
	height: 60%;
	overflow-y : auto;
}

.modal-additional {
	background-color: #fefefe;
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	overflow-y:auto;
    width: 80%; /* Could be more or less, depending on screen size */
	height: 90%;
}

.fixed-position{
	position:fixed;
}
/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.hidden{
	visibility: hidden;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
